<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Intranet</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    
 	<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />
 	
  </head>

  <body>
	
	<div class="container">
	
		<h1>Intranet Skillnet </h1>
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Nit</th>
						<th>Razon Social</th>
						<th>Correo</th>
						<th>Telefono</th>
						<th>Usuario</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="Cliente : ${clientes}">
						<td th:text ="${Cliente.nit}"></td>
						<td th:text ="${Cliente.razonsocial}"></td>
						<td th:text ="${Cliente.correo}"></td>
						<td th:text ="${Cliente.telefono}"></td>
						<td th:text ="${Cliente.usuario}"></td>
						  
						<td>
						
							<a href="#" th:href="@{/clientes/clientesEdit?nit=__${Cliente.nit}__}">
							<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
							</a>
							
							<a href="#" th:href="@{/clientes/removecliente?nit=__${Cliente.nit}__}">
								<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							</a>
						
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
		<div th:if="${result == 1}" class="alert alert-success" role="alert">Agregado Exitosamente</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert">Error agregando cliente</div>
		
		<a href="#" th:href="@{/clientes/clientesform}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Agregar Cliente</button>
		</a>
		
		<a href ="#" th:href="@{/login?logout}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
		</a>
	</div>


</body>
</html>